{% extends 'core/base.html' %}

{%block title %} {{product.title}} {%endblock%}

{%block content %} 
    {% if product.image %}
        <div class="image mb-3">
            <img src="{{ product.image.url }}" alt="image of {{product.title }}">
        </div>
    {% endif %}

    <h1 class="text-2xl">{{product.title}}</h1>
    <p class="text-sm text-gray-600">
        ${{product.get_display_price}}
        -
        <a href="{% url 'seller_detail' product.user.id %}">{% firstof product.user.get_full_name product.user.username %}</a>
    </p>
    


    {% if product.description %}
    <p class="mt-4">
        {{product.description}}
    </p>
    {% endif %}

    {% if cart_status == True %}
        <br>
        <p class="text-xl text-black">In Cart:</p>
        <form method="post" action="{% url 'cart' 'remove' product.title %}">
            {% csrf_token %}
            <button type="submit" class="mt-6 inline-block py-4 px-6 bg-red-900 text-white">Remove From Cart</button>
        </form>
    {% elif cart_status == False %}
        <form method="post" action="{% url 'cart' 'add' product.title %}">
            {% csrf_token %}
            <button type="submit" class="mt-6 inline-block py-4 px-6 bg-red-900 text-white">Add To Cart</button>
        </form>
    {% endif %}

{%endblock%}