{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <h1>About Page</h1>
    <p>
        Bully Books is a new, self-contained product which provides users the ability and functionality to buy and sell new and secondhand books with fellow students through a social commerce marketplace. It is a replica of the already known and vastly popular commerce marketplace Poshmark but combines the functionality with Barnes and Noble bookstore for physical and ebooks. Bully Books is a work product designed for the partial fulfillment of credits for the Introduction to Software Engineering course at Mississippi State University.
    The usage of the product is limited to the bounds of the concerned department and permissions granted by the said University.
    The purpose of the product is to replicate an ecommerce store, like Poshmark,  for students to be able to sell textbooks and ebooks between themselves with easier access as a part of project work.

    </p>
{% endblock %}